/* GENERELT */
html {
  --accent_light_mode_color: #9142ff;
  --accent_dark_mode_color: #02ec96;
  --light_mode_gradient: linear-gradient(50deg, #02ec96, #484bb9);
  --dark_mode_gradient: linear-gradient(45deg, #7f29f7, #c491ff);
  --primary_dark_mode_color: #454545;
  --primary_light_mode_color: #e8e8e8;
  --transition_1s: 1s;
  --txt_padding: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin: 0 auto;
  max-width: 1500px;
}

/* BILLEDER */
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.om_mig_img {
  grid-column: 2 / 3;
  grid-row: 1 / span 3;
  object-fit: contain;
}

/* Billeder i generel grid for en rund kant */
.generel_grid img {
  border-radius: 4px;
}

.fremtilbage {
  display: flex;
  justify-content: center;
  grid-column: 1 / 3;
}

.fremtilbage a {
  padding-inline: 1rem;
}
/* FORSIDE */
.splash {
  height: 100vh;
  width: 100%;
  background-image: url(billeder/DSC09628.jpg);
  background-size: cover;
  background-position: 70% 100%;
  max-width: none;
  background-repeat: no-repeat;
}

.forside {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-columns: repeat(4, 1fr);
}

.forside_txt {
  display: flex;
  align-content: center;
  flex-direction: column;
  grid-row: 2 / 3;
  grid-column: 1 / 5;
  padding-block-start: 10rem;
}
.forside_txt img {
  max-width: 200px;
  max-height: 200px;
}
.forside_txt h3 {
  display: flex;
  align-self: center;
  font-size: 3vw;
}
.forside_txt h1 {
  display: flex;
  align-self: center;
  padding-inline-start: 0;
  font-size: 8vw;
}

.forside_txt h4 {
  display: flex;
  align-self: center;
  font-size: 1vw;
}
.dark .forside_txt h3 {
  display: flex;
  align-self: center;
  font-size: 3vw;
}
.dark .forside_txt h1 {
  display: flex;
  align-self: center;
  padding-inline-start: 0;
  font-size: 8vw;
}
.dark .forside_txt h4 {
  display: flex;
  align-self: center;
  font-size: 1vw;
}

/* PORTFOLIO SIDE*/
/* Generelt grid til alle sider */
.generel_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.generel_grid a button {
  margin-block-start: 1.5rem;
  margin-block-end: 3rem;
}

.tema_txt {
  padding-inline: var(--txt_padding);
}
.tema_img {
  padding-inline: var(--txt_padding);
  padding-block: var(--txt_padding);
}

/* tema 01 */
.tema_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / span 2;
}
.tema_grid img:hover {
  transition: 1s ease-in-out;
  transform: scale(1.05);
}
.tema_02_grid img:hover {
  transition: 1s ease-in-out;
  transform: scale(1.05);
}
.tema_03_grid img:hover {
  transition: 1s ease-in-out;
  transform: scale(1.05);
}
.tema_04_grid img:hover {
  transition: 1s ease-in-out;
  transform: scale(1.05);
}
.tema_05_grid img:hover {
  transition: 1s ease-in-out;
  transform: scale(1.05);
}
.tema_06_grid img:hover {
  transition: 1s ease-in-out;
  transform: scale(1.05);
}
.overflow {
  overflow: hidden;
}
/* tema 02 */
.tema_02_grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / span 2;
}
/* tema 03 */
.tema_03_grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / span 2;
}
/* tema 04 */
.tema_04_grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / span 2;
}
/* tema 05 */
.tema_05_grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / span 2;
}
/* tema 06 */
.tema_06_grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / span 2;
}
/* tilføjer hover funktion på h2 på PORTFOLIO SIDE */
.hover_h2:hover {
  transition: var(--transition_1s);
  color: var(--accent_light_mode_color);
  cursor: pointer;
}
.dark .hover_h2:hover {
  transition: var(--transition_1s);
  color: var(--accent_dark_mode_color);
  cursor: pointer;
}

/* OM MIG SIDE */
.om_mig_grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / span 2;
}
.overskrift_txt {
  grid-column: 2;
}

.om_mig_overskrift {
  grid-column: 1;
  padding-left: var(--txt_padding);
}

.om_mig_txt {
  padding-inline: var(--txt_padding);
}
.om_mig_overskrift {
  padding-inline: var(--txt_padding);
}

.flex_row {
  grid-column: 1 / 3;
  background-color: var(--accent_light_mode_color);
  display: flex;
  justify-content: space-evenly;
  padding-block: 3rem;
  margin-block-start: 2rem;
}

.icon {
  display: flex;
  width: 50px;
  height: 50px;
  transition: transform 500ms;
}

.icon:hover {
  transform: scale(1.1);
}

/* Billede grid */
.tema_01_grid img {
  max-height: 100%;
  max-width: 100%;
}
.img-1 {
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  aspect-ratio: 1/1;
}
.img-2 {
  grid-column: 1 / 3;
  grid-row: 5 / 7;
  aspect-ratio: 1/1;
}
.img-3 {
  grid-column: 3 / 5;
  grid-row: 5 / 7;
  aspect-ratio: 1/1;
}
.img-4 {
  grid-column: 1 / 5;
  grid-row: 7 / 9;
  aspect-ratio: 16/9;
}
.img-5 {
  grid-column: 5 / 7;
  grid-row: 7 / 9;
  aspect-ratio: 1/1;
}
.img-6 {
  grid-column: 5 / 9;
  grid-row: 1 / 7;
  aspect-ratio: 9/16;
}
.img-7 {
  grid-column: 7 / 9;
  grid-row: 7 / 9;
  aspect-ratio: 1/1;
}
.tema_01_txt {
  grid-column: 1 / 2;
  padding-inline: var(--txt_padding);
}

/* TEMA SIDE */
.tema_01_grid {
  width: var(--wrapperWidth);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  aspect-ratio: 1/1;
}
.tema_01_grid img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.tema_txt_boks_farve {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--accent_light_mode_color);
  grid-column: 1 / 3;
  color: var(--primary_light_mode_color);
}
.tema_txt_boks_farve h2 {
  color: var(--primary_light_mode_color);
  padding-inline-start: var(--txt_padding);
  padding-block-start: 1rem;
}
.tema_txt_boks_farve p {
  padding-inline: var(--txt_padding);
  padding-block-end: 3rem;
}
.tema_txt_boks_p {
  padding-block-start: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2 / 3;
}

/* FOOTER */
footer {
  text-align: center;
  color: var(--primary_dark_mode_color);
  font-family: "futura";
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  position: sticky;
  top: 100vh;
  padding-top: 4vw;
}

footer.dark {
  color: var(--primary_light_mode_color);
}

footer p {
  max-width: none;
}

/* FONT */
h1 {
  grid-column: 1 / 3;
  padding-inline-start: var(--txt_padding);
  font-size: 5rem;
  font-family: "futura";
  text-transform: uppercase;
  background: var(--dark_mode_gradient);
  font-weight: 800;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 3rem;
  font-family: "futura";
  text-transform: uppercase;
  color: var(--primary_dark_mode_color);
}
h3 {
  font-size: 2rem;
  font-family: "futura";
  font-weight: 300;
  color: var(--primary_dark_mode_color);
}
h4 {
  font-size: 1rem;
  font-family: "futura";
  font-weight: 300;
  text-transform: uppercase;
  color: var(--primary_dark_mode_color);
}

p {
  font-family: "montserrat";
  line-height: 2rem;
}

/* BURGER MENU */
.logo {
  margin-inline-end: auto;
}
.logo img {
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 100px;
}
header {
  background-color: transparent;
}

li {
  list-style: none;
  margin: 1rem;
}
a {
  color: var(--primary_dark_mode_color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "montserrat";
}

.navbar {
  min-height: 70px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: transparent;
}

.nav-menu {
  display: flex;
  align-items: center;
}

/* Giver lilla farve ved hover på links */
.nav-link:hover {
  transition: 0.7s ease;
  color: var(--accent_light_mode_color);
}
/* Giver grøn farve ved hover på links */
.dark .nav-link:hover {
  transition: 0.7s ease;
  color: var(--accent_dark_mode_color);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: var(--primary_dark_mode_color);
  border-radius: 10px;
}
/* DARK MODE */
body {
  background: white;
  color: var(--primary_dark_mode_color);
  transition: var(--transition_1s);
}

body.dark {
  color: white;
  background-color: var(--primary_dark_mode_color);
}

/* Skifter farven på tekstboksen */
body.dark .tema_txt_boks_farve {
  background-color: var(--accent_dark_mode_color);
  color: var(--primary_dark_mode_color);
}

/* skifter farve på p og h2 */
body.dark .tema_txt_boks_farve h2 {
  color: var(--primary_dark_mode_color);
}
.dark.tema_txt_boks_p {
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

header.dark {
  color: white;
  background-color: transparent;
  transition: var(--transition_1s);
}

header.active.dark {
  color: white;
  background-color: var(--primary_dark_mode_color);
  transition: var(--transition_1s);
}

.dark .hamburger .bar {
  background-color: white;
}

.dark a {
  color: white;
}

/* skifter fra lilla til grøn */
.mode {
  background: var(--dark_mode_gradient);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  font-family: "montserrat";
  font-weight: 800;
  transition: var(--transition_1s);
  color: white;
  border-radius: 4px;
  border-style: none;
  display: block;
  cursor: pointer;
}

.mode:hover {
  transition: var(--transition_1s);
  background: var(--accent_light_mode_color);
  color: #fff;
  text-decoration: none;
}

/* Skifter fra grøn til lilla */
.mode.dark {
  background: var(--light_mode_gradient);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  font-family: "montserrat";
  font-weight: 800;
  transition: var(--transition_1s) ease-in-out;
  background-size: 200% auto;
  color: white;
  border-radius: 4px;
  border-style: none;
  display: block;
  cursor: pointer;
}

.dark .mode:hover {
  transition: var(--transition_1s);
  background: var(--accent_dark_mode_color);
  color: white;
}
.cta {
  background: var(--dark_mode_gradient);

  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  font-family: "montserrat";
  font-weight: 800;
  transition: var(--transition_1s);
  color: white;
  border-radius: 4px;
  border-style: none;
  display: block;
  cursor: pointer;
}
.cta:hover {
  transition: var(--transition_1s);
  background: var(--accent_light_mode_color);
  color: #fff;
  text-decoration: none;
}

/* Skifter fra grøn til lilla */
body.dark .tema_01_txt button {
  background: var(--light_mode_gradient);

  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  font-family: "montserrat";
  font-weight: 800;
  transition: var(--transition_1s) ease-in-out;
  background-size: 200% auto;
  color: white;
  border-radius: 4px;
  border-style: none;
  display: block;
  cursor: pointer;
}
body.dark .om_mig_txt button {
  background: var(--light_mode_gradient);

  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  font-family: "montserrat";
  font-weight: 800;
  transition: var(--transition_1s) ease-in-out;
  background-size: 200% auto;
  color: white;
  border-radius: 4px;
  border-style: none;
  display: block;
  cursor: pointer;
}
body.dark .generel_grid button {
  background: var(--light_mode_gradient);

  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  font-family: "montserrat";
  font-weight: 800;
  transition: var(--transition_1s) ease-in-out;
  background-size: 200% auto;
  color: white;
  border-radius: 4px;
  border-style: none;
  display: block;
  cursor: pointer;
}

.dark .cta:hover {
  transition: var(--transition_1s);
  background: var(--accent_dark_mode_color);
  color: white;
}

/* Skifter farven på h1 og h2 ved tryk på Light/dark mode knap */
.dark h1 {
  font-size: 5rem;
  font-family: "futura";
  text-transform: uppercase;
  background-image: var(--light_mode_gradient);
  font-weight: 800;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark h2 {
  font-size: 3rem;
  font-family: "futura";
  text-transform: uppercase;
  color: var(--primary_light_mode_color);
}
.dark h3 {
  font-size: 2rem;
  font-family: "futura";
  color: var(--primary_light_mode_color);
}
.dark h4 {
  font-size: 1rem;
  font-family: "futura";
  color: var(--primary_light_mode_color);
}

.dark .flex_row {
  background-color: var(--accent_dark_mode_color);
}

/* MEDIA */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar {
    color: var(--primary_light_mode_color);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary_light_mode_color);
    width: 100%;
    height: 25%;
    text-align: center;
    transition: 0.3s;
  }

  nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    bottom: 0;
    left: 0;
    color: var(--primary_light_mode_color);
  }
  header.active {
    background-color: var(--primary_light_mode_color);
    transition: var(--transition_1s);
  }
  header.active .dark {
    background-color: var(--primary_dark_mode_color);
    transition: var(--transition_1s);
  }
  header.dark .active {
    background-color: var(--primary_dark_mode_color);
  }
  a {
    font-size: 2rem;
  }

  /* Flytter tekst under billede på om mig side */
  .om_mig_img {
    grid-column: 1 / 3;
    grid-row: 2;
    padding: var(--txt_padding);
  }
  .om_mig_txt {
    grid-column: 1 / 3;
    grid-row: 4 / span 2;
    padding-inline: var(--txt_padding);
  }

  /* Flytter tekst ind over h2 på om mig side */
  .overskrift_txt {
    grid-column: 1;
  }

  .om_mig_overskrift {
    grid-column: 1;
    padding-left: var(--txt_padding);
  }

  .overskrift_txt {
    padding-left: var(--txt_padding);

    padding-inline: var(--txt_padding);
  }
  .om_mig_overskrift {
    grid-column: 1;
    padding-inline: var(--txt_padding);
  }

  /* Flytter billede grid på tema side om og fylder column 1 - 3 */
  .tema_01_grid {
    width: 100vw;
    display: grid;
    grid-column: 1 / 3;
    gap: 5px;
    aspect-ratio: 1/1;
    margin-block-start: 3rem;
  }

  /* Flyttet tekst under billeder på PORTFOLIO side */
  .tema_txt {
    grid-column: 1 / 3;
    grid-row: 4;
  }
  .tema_img {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  /* Flytter teksten på temaside under billede grid */
  .tema_01_txt {
    grid-column: 1 / 3;
  }

  .tema_txt_boks_p {
    grid-column: 1 / 3;
  }
  .img-1 {
    grid-column: 1 / 5;
    grid-row: 1 / 8;
    aspect-ratio: 1/1;
  }

  .img-2 {
    grid-column: 1 / 3;
    grid-row: 8 / 11;
    aspect-ratio: 1/1;
  }
  .img-3 {
    grid-column: 3 / 5;
    grid-row: 8 / 11;
    aspect-ratio: 1/1;
  }
  .img-4 {
    grid-column: 1 / 5;
    grid-row: 11 / 14;
    aspect-ratio: 16/9;
  }
  .img-5 {
    grid-column: 5 / 7;
    grid-row: 11 / 14;
    aspect-ratio: 1/1;
  }
  .img-6 {
    grid-column: 5 / 9;
    grid-row: 1 / 11;
    aspect-ratio: 9/16;
  }
  .img-7 {
    grid-column: 7 / 9;
    grid-row: 11 / 14;
    aspect-ratio: 1/1;
  }

  .tema_txt {
    padding-bottom: var(--txt_padding);
  }

  .forside_txt h3 {
    font-size: 5vw;
  }
  .forside_txt h1 {
    font-size: 15vw;
  }
  .forside_txt h4 {
    font-size: 3vw;
    display: flex;
    align-self: center;
  }
  .dark .forside_txt h3 {
    font-size: 5vw;
  }
  .dark .forside_txt h1 {
    font-size: 15vw;
  }
  .dark .forside_txt h4 {
    font-size: 3vw;
    display: flex;
    align-self: center;
  }

  h1 {
    font-size: 15vw;
  }
  h3 {
    font-size: 7vw;
  }
  h4 {
    font-size: 5vw;
  }

  h1 {
    padding-inline-start: var(--txt_padding);
    font-size: 15vw;
  }
  .fremtilbage a {
    padding-inline: 0.5rem;
  }
}
